.console_history
banned-ips.json
banned-players.json
ops.json
usercache.json
version_history.json
whitelist.json
logs
world_nether
world_the_end
world
versions
cache
libraries
crash-reports
commands.yml
help.yml
plugins
config